<main class="form-signin">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitLoginForm()" *ngIf="!loadingForm">
    <img class="mb-4" src="/assets/img/goat1.jpg" alt="" width="100%">
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
    <div class="text-center text-small">
      <span>Please sign in to the worlds worst webstore</span>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="input-group mb-3">
     <span class="input-group-text" (mousedown)="showPassword()" (mouseup)="hidePassword()" (mouseleave)="hidePassword()">
        <span class="fa fa-eye"></span>
      </span>
      <div class="form-floating">
        <input type="{{passwordType}}" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
    </div>

    <!-- Button that is disabled if the form is invalid -->
    <button class="btn btn-primary w-100" type="submit" [disabled]="!loginForm.valid">Sign in</button>

    <hr/>

    <div class="text-center">
      <span class="text-muted">Dont have an account yet? Register below</span>
    </div>
    <a [routerLink]="['/auth', 'register']" class="btn btn-success w-100" type="button">Register</a>

  </form>
</main>
